.appartment-item {
	margin: 20px;
    position: relative;
    height: 340px;
	width: 340px;
	
}

.appartment-cover {
	height: 340px;
	width: 340px;
	border-radius: 20px;
    
}

.appartment-title{
    position:absolute;
    bottom: 25px;
    left:25px;
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    white-space: wrap;
}
