.navigation-container{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

.logo-kasa{
    width: 120px;
    height: 100px;
    margin: 10px 30px;
}

nav ul {
    display: flex;
    margin: 10px 30px;
}

nav ul li{
    margin: 10px;
}